@import "./src/theme/variables.scss";

.filters {
  h4 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .destination {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 700;

    .country {
      color: $text-color;
    }

    span {
      color: $free-blue;
    }
  }
  .change {
    float: right;
    font-size: 18px;
    font-weight: 600;
  }
}

.filter_headers {
  margin-top: 32px;
  margin-bottom: 12px;
}
