@import "~react-toolbox/lib/colors";

$CARD-ROUTE-HEIGHT: 370px;

.routes {
  height: $CARD-ROUTE-HEIGHT;
  margin-bottom: 20px;

  .title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  .subheader {

  }

  .subtitle {
    display: inline-block;
    width: 50%;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
  }

  .planeChart {
    display: inline-block;
    width: 50%;
    padding: 10px 10px 10px 0px;
    vertical-align: top;
  }

  .planeGreen {
    display: inline;
  }

  .planeYellowHalf {
    display: inline;
  }

  .nextRoute {
    position: absolute;
    right: 10%;
    bottom: 10%;
  }

  .explanation {

  }
}
