@import "./src/theme/grid.scss";
@import "~react-toolbox/lib/colors";

.rec_box {
  padding: 15px;
  border-radius: 6px;
  background-color: $palette-grey-50;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.4);

  .card {
    .card_heading_box {
      margin-left: 15px;
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: 700;
    }

    h5 {
      margin-top: 0px;
      color: $palette-grey-500;
    }

    .card_image {
      margin-left: 15px;
    }

    .route_highlight {

    }

    .route_stat {
      font-size: 36px;
      font-weight: 600;
    }

    .route_subtext {
      font-size: 12px;
      font-weight: 600;
      color: $palette-grey-500;
    }
  }
}

.card_buttons {
  button {
    width: 90px;
  }
}

.no_gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

