@import "~react-toolbox/lib/colors";

$PADDING: 20px;
$BORDER-WIDTH: 1px;

.rec_box_card_route {
  background-color: $palette-grey-50;
  border: $BORDER-WIDTH solid $palette-grey-300;
  padding: $PADDING;

  .card {
    h3 {
      margin-top: 0px;
    }
  }
}

.card_image {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.recommend_title {
  margin: 20px 10px;
}


.card_buttons {
  button {
    width: 90px;
  }
}
