@import "./src/theme/variables.scss";

.redemption_desc {
  .show_hide {
    button {
      font-size: 12px;
      font-weight: 600;
      color: $free-blue;
      background-color: white;
      border: none;
    }
  }

  .route_desc, .feeWaived {
    padding: 5px;
    line-height: 20px;
    font-size: 12px;
  }
}
