@import "~react-toolbox/lib/colors";

$CARD-WIDTH: 350px;
$CARD-HEIGHT: 220px;

.card {
  margin-bottom: 20px;
  width: $CARD-WIDTH;
  height: $CARD-HEIGHT;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 1px #000;

  .background {
    position: absolute;
    width: $CARD-WIDTH;
    height: $CARD-HEIGHT;
    background-size: 100%;
  }

  .background_overlay {
    position: absolute;
    background: black;
    width: $CARD-WIDTH;
    height: $CARD-HEIGHT;
    background-size: 100%;
    border-radius: 15px;
    opacity: 0.35;
  }

  .top {
    position: relative;
    width: $CARD-WIDTH;
    height: $CARD-HEIGHT;
    padding: 15px;

    .rank {
      font-size: 18px;
    }
    .card_name {
      margin-top: 45px;
      font-size: 22px;
      text-align: center;
    }
    .issuer_name {
      margin-top: 0px;
      text-align: center;
    }
    .sign_up {
      margin-top: 40px;
      font-size: 12px;
    }
    .annual_fee {
      font-size: 12px;
    }
  }

  .bottom {
    position: relative;
    width: $CARD-WIDTH;
    height: $CARD-HEIGHT;
    padding: 15px;

    .header {
      margin-top: 15px;
      font-size: 22px;
    }

    .scores_table {
      margin-top: 10px;

      .row {
      }

      .name {
        display: inline-block;
        vertical-align: top;
        width: 120px;
      }

      .score_bar {
        display: inline-block;
        width: 200px;
      }
    }

    .hide {
      background: none;
      border: none;
      color: $palette-grey-400;
      font-size: 12px;
    }
  }
}