@import "./src/theme/variables.scss";
@import "~react-toolbox/lib/colors";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.app {
  .navBar {
    background-color: $free-blue;

    .brand {
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: white;
    }

    .navRight {
      margin-right: 0px;

      .filterButton * {
        font-size: 12px;
        font-weight: 600px;
        color: white;
      }
    }

    @media (min-width: $screen-sm-min) {
      .navRight {
        display: none;
      }
    }
  }
}

.appContent {
  margin: 54px 0 0px; // for fixed navbar
}

.footer {
  padding: 25px 0px 65px;
  background-color: $palette-grey-200;

  .plane_img {
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 600;
    color: $gray-300;
  }

  .separatorTab {
    margin: 0 auto 22px;
    border-bottom: 1px solid $palette-grey-400;
    width: 36px;
  }

  .main_text {
    color: $palette-grey-400;
  }
}
