@import "./src/theme/variables.scss";
@import "~react-toolbox/lib/colors";

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

.app {
  .navBar {
    background-color: $free-blue;

    .brand {
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: white;
    }

    .navRight {
      margin-right: 0px;

      .filterButton {
        font-size: 12px;
        font-weight: 600px;
        color: white;
      }
    }
  }
}

.appContent {
  margin: 50px 0 0px; // for fixed navbar
}

.footer {
  padding: 35px;
  height: 150px;
  background-color: $palette-grey-800;

  .title {
    margin-bottom: 20px;
    color: $palette-grey-200;
  }

  .main_text {
    color: $palette-grey-400;
  }
}
