@import "./src/theme/variables.scss";
@import "~react-toolbox/lib/colors";

$PADDING: 20px;

.card_comparison {
  margin-bottom: 40px;

  .filter_menu {
    &.hide {
      display: none;
      background-color: red;
    }
  }

  .card_results {
    &.hide {
      display: none;
      background-color: red;
    }
  }
}

.cardListHowTo {
  margin: 15px 0 15px;
  color: $free-cyan;
}

.separatorTab {
  margin: 0 auto 15px;
  border-bottom: 1px solid $palette-grey-200;
  width: 55px;
}

.cardListMainHeader {
  margin-bottom: 25px;

  .cardListHeading {
    margin-bottom: 20px;
  }
  .countryNameInline {
    font-weight: 800;
    color: $free-blue;
  }

  .pencilInline {
    margin-bottom: 4px;
    margin-left: 4px;
  }

  .meta {
    font-size: 12px;
  }

  .showing {
    color: $palette-grey-500;
  }

}