@import "./src/theme/variables.scss";
@import "~react-toolbox/lib/colors";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$PADDING: 20px;

.card_comparison {
  margin-bottom: 30px;

  @media (max-width: $screen-sm-min) {
    .filter_menu {
      &.hide_col {
        display: none;
      }
    }

    .card_results {
      &.hide_col {
        display: none;
      }
    }
  }
}

.cardListHowTo {
  margin: 15px 0 15px;
  color: $free-cyan;
}

.separatorTab {
  margin: 0 auto 15px;
  border-bottom: 1px solid $palette-grey-200;
  width: 55px;
}

.cardListMainHeader {
  margin-bottom: 25px;

  .cardListHeading {
    margin-bottom: 20px;
  }

  .countryNameInline {
    font-weight: 800;
    color: $free-blue;
  }

  .pencilInline {
    margin-bottom: 4px;
    margin-left: 4px;
  }

  .meta {
    font-size: 12px;
  }

  .showing {
    color: $palette-grey-500;
  }
}
