@import "./src/theme/variables.scss";
@import "~react-toolbox/lib/colors";

$PADDING: 20px;

.card_comparison {
  margin-bottom: 40px;
}

.cardListSubHeader {
  background-color: $palette-grey-50;
  border: 1px solid $palette-grey-300;
  padding: 0 $PADDING $PADDING;

  .meta {
    font-size: 12px;
  }

  .view {
    text-align: right;
  }
}